.kontejner {
    -fx-background-color: rgba(255,255, 255, 0.4);
    -fx-padding:  5 0 0 10;
}

.active {
-fx-background-color : "green" !important;
}
.scroll {
    -fx-opacity : 0.6;
}
.active:hover {
 -fx-background-color : "green" !important;
 -fx-font-size: 18;
}

.kontejner:hover {
    -fx-background-color: rgba(255,255, 255, 0.7);
}

.nadpis {
    -fx-font-size: 16;
    -fx-text-align : center;
}
.nadpis2 {
    -fx-font-weight: 800;
    -fx-font-size: 10;
    -fx-text-align : center;
}

.velky-nadpis2 {
    -fx-font-size: 14;
    -fx-text-align : center;
}
.velky-nadpis {
    -fx-font-size: 18;
    -fx-text-align : center;
}

.background {
    -fx-background-size: cover;
    -fx-background-position: center center;
}
