.kontejner {
    -fx-background-color: rgba(255,255, 255, 0.6);
    -fx-padding:  5 0 0 10;
}

.kontejner:hover {
    -fx-background-color: rgba(255,255, 255, 0.85);
}

.nadpis {
    -fx-font-size: 18;
}

.velky-nadpis {
    -fx-font-size: 24;
}